/* Main css for SENCAP */

body {
	background-color: #262d38;
	overflow-x: hidden;/*ensures no horizontal scrolling*/
}

p {
	font-family: sans-serif;
	text-align: center;
	color: #dddddd;
}

/*On hover*/
a:hover {
	color: #a2cfe5;
}

a {
	color: #58819e;
}

/*Removes the border on link click*/
a:active, a:focus {
	outline: 0;
}

/*Start heading style*/

#top {
	margin-bottom: 0;
	width: 100%;
}

.face {
	display: block;
	margin: 50px auto 25px;
	width: 150px;
	height: 149px;
}

.title {
	width: 50%;
	min-width: 200px;
	color: #dddddd;
	text-align: center;
	border-bottom: 2px solid #6f7582;
	margin: 10px auto 0 auto;
	padding-bottom: 0;
}

.nav {
	background-color: #262d38;
	position: -webkit-sticky;/*for Safari*/
	position: sticky;
	top: -2;/*to avoid scroll issues*/
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	padding-top: 7px;
	text-align: center;
}

.active {
	color: #58819e;
}

li {
	display: inline;
}

li a {
	display: inline-block;
	padding: 0 10px 5px 10px;
	color: #dddddd;
	text-decoration: none;
}

/*Start main body styling*/

#main {
	width: 100%;
	text-align: center;
}

.content {
	max-width: 750px;
	margin: auto;
}

#moto {
	font-family: "bedstead";
	/*Center text vertically*/
	display: table;
	height: calc(100vh - 350px);
	width: 100%;
	font-size: 35pt;
	color: #774954;
}

#moto h1 {
	/*Center text vertically*/
	display: table-cell;
	vertical-align: middle;
}

#story {
	margin: 75px auto 50px auto;
}

.entry p {
	text-align: left;
	color: #d8e3eb;
}
.entry h2 {
	color: #dddddd;
}

/*handle small screens*/
@media screen and (max-width: 750px) {
	#moto {
		font-size: 15pt;/*backup incase vw has issues*/
		font-size: 6vw;/*~90% of viewport width*/
	}
}
@media screen and (max-height: 350px) {
	#moto h1 {
		vertical-align: middle;
		height: 350;
	}
}
