//Created by Caleb Marcoux (Uncle Snail)
//I solute you, my fellow programmer.

//Dark theme
$background-color-dark: #2b2b2b;
$dark-background-shadow-color: #1e1e1e;
$dark-background-highlight-color: #333;
//$dark-foreground-color: #45A6D5;
$dark-title-color: #fff;
$dark-text-color: #e1e1e1;
$highlight-color-dark: #4692c8;


//Light theme
$background-color-light: #fff;
$light-background-shadow-color: #eee;
$light-background-highlight-color: #fff;
//$light-foreground-color: #2b3135;
$light-title-color: #000;
$light-text-color: #2d2d2d;
$highlight-color-light: #65b7f1;

//Media handling
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1366px;
//Small screens (<$small) will have the title, face, and navbar inline down the page.
//Medium screens (<$medium >$small) will have a smaller title, face, and borders. (scaled by 66%)
//Large screens (<$large >$medium) will have standard sizes of face, title, and borders, all left aligned with right smooth fade off.
//Giant screens (>$large) will have same size face and title. The border swoops up dramatically on either end, covering image edge, and contense is locked to center of page at normal size.
@mixin respond-to ($media) {
  @if $media == small {
    @media only screen and (max-width: $breakpoint-small) {@content;}
  }
  @else if $media == medium {
    @media only screen and (min-width: $breakpoint-small + 1) and (max-width: $breakpoint-medium) {@content;}
  }
  @else if $media == large {
    @media only screen and (min-width: $breakpoint-medium + 1) and (max-width: $breakpoint-large) {@content;}
  }
  @else if $meida == giant {
    @media only screen and (min-width: $breakpoint-large + 1) {@content;}
  }
}

//universal attributes

@font-face {
  font-family: unclesnail;
  src: url('fonts/uncle_snail.ttf');
}

body {
  background-color: $background-color-light;
  font-family: 'unclesnail', sans-serif;
  font-size: 14pt;
  margin: 0;
  @include respond-to(small) {
    font-size: 10pt;
  }
  @include respond-to(medium) {
    font-size: 10pt;
  }
}

h1 {
  color: $dark-title-color;
  font-size: 300%;
  font-weight: normal;
  margin: 10px;
  text-align: center;
}

h2 {
  color: $dark-title-color;
  font-size: 200%;
  font-weight: normal;
  margin: 10px;
  text-align: center;
}

p {
  color: $dark-text-color;
  margin: 0;//Was Stopping elements from aligning properly before.
  //REMOVE NOW ONCE NO LONGER NEEDED.
}

nav {
  color: $dark-text-color;
  a {
    color: $dark-text-color;
    text-decoration: none;
  }
  .active {
    color: $highlight-color-light;
    cursor: pointer;
  }
  @include respond-to(small) {
    font-size: 12pt;
  }
}

footer {
  background-color: $background-color-dark;
  //height: 400px;
  position: relative;
  &::before {
    background-image: url('images/dark_footer_border_top.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 1700px 130px;
    content: '';
    display: block;
    height: 130px;
    position: absolute;
    top: -130px;
    width: 100%;
    @include respond-to(small) {
      background-image: url('images/dark_footer_border_top_small.png');
      background-position: center bottom;
      background-size: 480px 83px;
      height: 83px;
      top: -83px;
    }
  }
}

a {
  &:hover,
  &:focus,
  &:active, {
    color: $highlight-color-dark;
    outline: 0;
    text-decoration: none;
  }
}

//Decorate
.active {
  color: $highlight-color-dark;
}

.underline {
  border-bottom: $highlight-color-light solid 2px;
}

.highlight {
  color: $highlight-color-dark;
}

//Non-universal attributes.

//Styler classes

.light {
  background-color: $background-color-light;
  a {
    &:hover,
    &:focus,
    &:active, {
      color: $highlight-color-light;
    }
  }

  //Decorate
  .active {
    color: $highlight-color-light;
  }

  .underline {
    border-bottom: $highlight-color-light solid 2px;
  }

  .highlight {
    color: $highlight-color-light;
  }
}

.dark {
  background-color: $background-color-dark;
  a {
    &:hover,
    &:focus,
    &:active, {
      color: $highlight-color-dark;
    }
  }

  //Decorate
  .active {
    color: $highlight-color-dark;
  }

  .underline {
    border-bottom: $highlight-color-dark solid 2px;
  }

  .highlight {
    color: $highlight-color-dark;
  }
}

//Layout classes

.header {
  background-image: url('images/heading_large.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  //float: right;
  display: table;
  //font-size: 1.8vw;
  height: 520px;
  text-align: center;
  width: 100%;
  div {
    display: table-cell;
    vertical-align: middle;
    div {
      float: right;
      width: 50%;
    }
  }
  @include respond-to(small) {
    background-image: url('images/heading_small.png');
    background-position: center bottom;
    display: block;
    height: 400px;
    h1 {
      font-size: 20pt;
    }
    div {
      display: block;
      div {
        display: block;
        width: 100%;
      }
    }
  }
  @include respond-to(medium) {
    background-image: url('images/heading_medium.png');
    height: 343px;
  }
}

//Universal page options
//wave-right, left, center, edge, are for defining which side the highest point of the wave will be on.
//when a page is marked as either light or dark it will change the color of the wave to match.

.wave {
  position: relative;
  &::before {
    background-image: url('images/white_border_top.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 1700px 130px;
    content: '';
    display: block;
    height: 130px;
    position: absolute;
    top: -130px;
    width: 100%;
    @include respond-to(small) {
      background-image: url('images/white_border_top_small.png');
      background-position: center bottom;
      background-size: 480px 129px;
      height: -129px;
      top: -129px;
    }
    @include respond-to(medium) {
      background-image: url('images/white_border_top_medium.png');
      background-size: 821px 83px;
      height: 83px;
      top: -83px;
    }
  }
}

.box-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  text-align: center;
  @include respond-to(small) {
    flex-direction: column;
  }
}

.box {
  margin: 25px;
}


//One place uses
.testimonials {
  font-size: 125%;
  min-height: 300px;
}
