
//Created by Caleb Marcoux (Uncle Snail)
//I solute you, my fellow programmer.

//Decorate
.active {
  color: $dark-highlight-color;
}

.underline {
  border-bottom: $light-highlight-color solid 2px;
}

.highlight {
  color: $dark-highlight-color;
}

.round-link {
  //In script make the radius width/2 so circle button works.
  border-radius: 100px;
}

.button {
  display: inline-block;
  width: auto;
  border-radius: 10px;
  background-color: $button-color;
  color: $button-text-color !important;
  padding: 10px;
  margin: 15px;
  justify-content: space-around;
  cursor: pointer;
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: $button-text-color !important;
  }
  &:hover,
  &:focus,
  &:active {
    background-color: $button-hover-color;
  }
}

//Non-universal attributes.

//Styler classes

.light {
  background-color: $light-background-color;
  h1 {
    color: $light-title-color;
  }
  h2 {
    color: $light-h2-color;
  }
  h3 {
    color: $light-h3-color;
  }
  h4 {
    color: $light-h4-color;
  }
  a {
    color: $light-highlight-color;
    &:hover,
    &:focus,
    &:active {
      color: $light-hover-color;
    }
  }
  p {
    color: $light-text-color;
  }

  //Decorate
  .active {
    color: $light-highlight-color;
  }

  .underline {
    border-bottom: $light-highlight-color solid 2px;
  }

  .highlight {
    color: $light-highlight-color;
  }

  //Special
  .slick-prev::before, .slick-next::before {
    color: $light-highlight-color !important;
  }
}

.dark {
  background-color: $dark-background-color;
  h1 {
    color: $dark-title-color;
  }
  h2 {
    color: $dark-h2-color;
  }
  h3 {
    color: $dark-h3-color;
  }
  h4 {
    color: $dark-h4-color;
  }
  a {
    color: $dark-highlight-color;
    &:hover,
    &:focus,
    &:active {
      color: $dark-hover-color;
    }
  }

  //Decorate
  .active {
    color: $dark-highlight-color;
  }

  .underline {
    border-bottom: $dark-highlight-color solid 2px;
  }

  .highlight {
    color: $dark-highlight-color;
  }

  //Special
  .slick-prev::before, .slick-next::before {
    color: white !important;
  }
  .slick-dots li.slick-active button::before,li button::before {
    color: white !important;
  }
}

.work-descriptions {
  padding: 0 150px;
  @include respond-to(small) {
    padding: 0;
  }
  @include respond-to(medium) {
    padding: 0 50px;
  }
}

.testimonials {
  @include font-size(normal);
  padding: 30px 50px;
  @include respond-to(small) {
    @include font-size(small);
    padding: 10px 10px;
  };
  @include respond-to(medium) {
    @include font-size(small);
    padding: 20px 10px;
  };
  * {
    flex-basis: auto;
  }
}

#archive {
  @include font-size(tiny);
}
