
//Created by Caleb Marcoux (Uncle Snail)
//I solute you, my fellow programmer.

//universal attributes

@font-face {
  font-family: unclesnail;
  src: url('fonts/uncle_snail.ttf');
}

@font-face {
  font-family: sourcepro;
  src: url('fonts/source_sans_pro/TTF/SourceSansPro-Regular.ttf');
}

html {
  scroll-behavior: smooth;
};

body {
  background-color: $light-background-color;
  @include add-font(sourcepro);
  @include font-size(small);
  margin: 0;
  text-align: center;
  overflow-x: hidden;
}

header {
  text-align: center;
  width: 100%;
  padding: 50px 0;
}

%h {
  @include add-font(unclesnail);
  font-weight: normal;
  padding: 10px;
  margin: 0;
  text-align: center;
}

h1 {
  @extend %h;
  @include font-size(giant);
}

h2 {
  @extend %h;
  @include font-size(large);
}

h3 {
  @extend %h;
  @include font-size(normal);
  padding: 5px;
}

h4 {
  @extend %h;
  @include font-size(small);
  padding: 2px;
}

p {
  color: $dark-text-color;
}

a {
  color: $dark-text-color;
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: $dark-hover-color;
    outline: 0;
    text-decoration: none;
  }
}

nav {
  color: $dark-text-color;
  @include add-font('unclesnail');
  a {
    color: $dark-text-color !important;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      color: $dark-hover-color !important;
    }
  }
  .active {
    color: $light-highlight-color !important;
    cursor: pointer;
  }
}

footer {
  background-color: $dark-background-color;
  position: relative;
}

pre {
  text-align: left;
  &.prettyprint {
    max-width: 700px;
    height: 400px;
    overflow: scroll;
    @include respond-to (small) {
      max-width: 400px;
      position: absolute;
      visibility: hidden;
      overflow-x: hidden;
    }
    @include respond-to (medium) {
      max-width: 400px;
      position: absolute;
      visibility: hidden;
      overflow-x: scroll;
    }
    @include respond-to (large) {
      position: static;
      visibility: visible;
      overflow-x: scroll;
    }
    @include respond-to (giant) {
      position: static;
      visibility: visible;
      overflow-x: scroll;
    }
  }
}
