@keyframes wind_fade {
  from {
    stroke-opacity: 1;
    stroke-dashoffset: 500;
  }
  to {
    stroke-opacity: 0;
    stroke-dashoffset: 100;
  }
}

.wind {
  stroke: white;
  stroke-dasharray: 100 300;
  stroke-dashoffset: 400;
  animation-name: wind_fade;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
