//Created by Caleb Marcoux (Uncle Snail)
//I solute you, my fellow programmer.

//Layout classes

//Universal page options
//wave-right, left, center, edge, are for defining which side the highest point of the wave will be on.
//when a page is marked as either light or dark it will change the color of the wave to match.

//Defaults
.box {
  margin: 25px;
}

.center-vertical {
  align-self: center;
  display: flex;
}

//Semantic elements
section, footer {
  padding: 50px 0 !important;
  @include respond-to(small) {
    padding: 15px 30px !important;
  }
  @include respond-to(medium) {
    padding: 23px 30px !important;
  }
}

//Other classes

.hidden {
  position: absolute;
  visibility: hidden;
}

.shown {
  position: static !important;
  visibility: visible !important;
}

.app-wrapper {
  flex-shrink: 0;
  width: 400px;
  height: 400px;
  margin: 16px 0px;
  @include respond-to (large) {
    position: static;
    visibility: visible;
  }
  @include respond-to (giant) {
    position: static;
    visibility: visible;
  }
}

.fill {
  height: inherit;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  @include respond-to (small) {
    flex-direction: column-reverse;
    div {
      flex: auto;
    }
  }
  &.project {
    @include respond-to (medium) {
      flex-direction: column-reverse;
      div {
        flex: auto;
      }
    }
  }
}

.spacer {
  width: 200px;
  height: 100px;
  padding: 0;
  margin: 0;
  @include respond-to (small) {
      width: 25px;
      height: 50px;
  }
  @include respond-to (medium) {
      width: 50px;
      height: 75px;
  }
}

#timeline {
  .item {
    min-width: 60%;
    max-width: 75em;
    margin: auto;
    .date,.entry {
      display: inline-block;
      vertical-align: top;
      margin: $timeline-padding;
      h2 {
        padding: 0;
      }
    }
    .date {
      width: 10%;
      margin-right: $timeline-gap;
      * {
        text-align: right;
      }
    }
    .entry {
      width: 70%;
      margin-left: -0.25em; // Cancels white space after date
      .title:before {
        content: '•';
        position: absolute;
        margin-left: calc(1px - calc(0.18em + $timeline-gap));
        color: $button-color;
      }
      .title {
        padding-left: $timeline-gap;
      }
      .content {
        margin-left: 0;
        padding-left: $timeline-gap;
        border-left: solid 2px $button-color;
      }
      * {
        text-align: left;
      }
    }

    @include respond-to (small) {
      width: 100%;
      margin: 0;
      padding: 0;
      .date,.entry {
        display: block;
        width: 100%;
      }
      .date {
        padding-top: 1em;
        // Place the date
        padding-left: 0;
        margin-left: -0.25em; // Cancels white space after date
        text-align: left;
        h2 {
          margin-left: 22px;
          padding-left: calc($timeline-gap - 20px);
        }
        h5 {
          padding-left: 0.5em;
        }
        // Add date dot
        h2:before {
          content: '•';
          position: absolute;
          margin-left: calc(19px - calc(0.18em + $timeline-gap));
          color: $button-color;
        }
        // Remove title dot
        * {
          text-align: left;
          display: inline-block;
        }
      }
      .entry {
        margin-left: -0.25em; // Cancels white space after date
        .title:before {
          content: '';
        }
        .title {
          margin-left: 20px;
          padding-left: calc($timeline-gap - 20px);
          border-left: solid 2px $button-color;
        }
        .content {
          margin-left: 20px;
          padding-left: calc($timeline-gap - 20px);
        }
      }
    }
    @include respond-to (medium) {
      text-align: right;
      padding-right: 5%;
      .date {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        width: fit-content;
      }
      .entry {
        width: 80%;
        .title:before {
          margin-left: calc(21px - calc(0.18em + $timeline-gap));
        }
        .title, .content {
          margin-left: 20px;
          padding-left: calc($timeline-gap - 20px);
        }
      }
    }
  }
}

.box-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  text-align: center;
  * {
    flex: 1;
  }
  @include respond-to(small) {
    flex-direction: column;
  }
}

.carousel-pages {
  display: inline-block;
  max-width: 1120px;
  padding: 0 10px;
  margin: auto;
}

.slick-dots {
  // Having padding on the carousel-pages offsets the dots, unless left = 0;
  left: 0;
}

.mobile-buttons {
  display: none;
  @include respond-to(small) {
    display: block;
  }
  @include respond-to(medium) {
    display: block;
  }
  a {
    margin: 5px;
    width: 50px;
  }
}

.L0 span.pln {
  display: none;
}
