
//Created by Caleb Marcoux (Uncle Snail)
//I solute you, my fellow programmer.

//Layout classes

//Universal page options
//wave-right, left, center, edge, are for defining which side the highest point of the wave will be on.
//when a page is marked as either light or dark it will change the color of the wave to match.

//Defaults
.box {
  margin: 25px;
}

.center-vertical {
  align-self: center;
  display: flex;
}

//Semantic elements
section, footer {
  padding: 50px 0 !important;
  @include respond-to(small) {
    padding: 15px 0 !important;
  }
  @include respond-to(medium) {
    padding: 23px 0 !important;
  }
}

//Other classes

.app-wrapper {
  width: 400px;
  height: 400px;
}

.fill {
  height: inherit;
}

.horizontal {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  @include respond-to (small) {
    flex-direction: column;
    div {
      flex: auto;
    }
  }
}

.spacer {
  width: 200px;
  height: 100px;
  padding: 0;
  margin: 0;
  @include respond-to (small) {
      width: 75px;
      height: 75px;
  }
  @include respond-to (medium) {
      width: 100px;
      height: 75px;
  }
}

.box-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  text-align: center;
  * {
    flex: 1;
  }
  @include respond-to(small) {
    flex-direction: column;
  }
}

.carousel-pages {
  max-width: 1100px;
  padding: 10px;
  margin: auto;
}
